@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    font-family: "raleway";
    box-sizing: border-box;
}
html, body {
    width: 100%;
}
.container {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
.visible {
    display: none;
}

header {
    background-color: black;
    height: 80px;
}
header p {
    color: white;
    float: left;
    line-height: 80px;
    margin: 0;
}
span {
    color: rgb(39,199,171);
    font-weight: bold;
}
ol > li {
    color: white;
    display: inline-block;
    float: right;
    line-height: 80px;
    padding: 0 20px;
}
.dropList {
    position: absolute;
    display: none;
    z-index: 1;
}
ul > li {
    background-color: black;
 
}
#slider {
    width: 100%;
    display: inline-block;
    background: rgba(250,250,250,1);
background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 50%, rgba(245,245,245,1) 51%, rgba(217,217,217,1) 71%, rgba(209,208,214,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(50%, rgba(245,245,245,1)), color-stop(51%, rgba(245,245,245,1)), color-stop(71%, rgba(217,217,217,1)), color-stop(100%, rgba(209,208,214,1)));
background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 50%, rgba(245,245,245,1) 51%, rgba(217,217,217,1) 71%, rgba(209,208,214,1) 100%);
background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 50%, rgba(245,245,245,1) 51%, rgba(217,217,217,1) 71%, rgba(209,208,214,1) 100%);
background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 50%, rgba(245,245,245,1) 51%, rgba(217,217,217,1) 71%, rgba(209,208,214,1) 100%);
background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 50%, rgba(245,245,245,1) 51%, rgba(217,217,217,1) 71%, rgba(209,208,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d1d0d6', GradientType=0 );
}
#krzeslo {
    width: 450px;
    float: left;
    padding: 50px 0;
}
img {
    
}

#button {
    width: 450px;
    float: left;
    padding-top: 100px;
}
#centralP {
    color: black;
     text-align: center;
    padding: 50px 0;
    
}
.sign {
    display: inline-block;
    width: 100px;
    height: 405px;
    float: left;
    top: 0;
    bottom: 0;
    line-height: 405px;
    font-size: 80px;
    color: rgb(39,199,171);
    margin: 0 auto;
}
#signLeft {
    text-align: left;
}
#signRight {
    text-align: right;   
}
h1 {
    text-align: center;
}
button {
    color: white;
    font-size: 18px;
    text-align: center;
    background-color: rgb(39,199,171);
    padding: 10px 25px;
    border-radius: 15px;
    margin-left: 125px;
}
#photoContainer {
    height: 350px;
}
.photo {
    width: 325px;
    height: 225px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 80px;
    
}
#photo1 {
    background-image: url(../img/box1_img.jpg);
    float: left;
}
#photo1 p, #photo2 p {
    box-shadow:  0 10px 0 rgb(39,199,171);
    width: 160px;
}
.photoText {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px 0;
    margin-top: 125px;
}

#photo2 {
    background-image: url(../img/box2_img.jpg);
    float: left;
    margin: 30px 60px 0 60px;

}
#photo3 {
    float: left;
    border: 1px solid lightgray;
    
    
}
#headline {
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 10px 0 rgb(39,199,171);
    width: 150px;
    
}
#photo3 p {
    margin: 20px 0 0 20px;
    
}




#cennik {
    background-color: rgb(241,241,241);
    height: 700px;
}
h3 {
    display: block;
    box-shadow: 0 10px 0 rgb(39,199,171);
    padding-top: 50px;
    width: 320px;
}
.cennik {
    width: 330px;
    height: 500px;
    border: 1px solid lightgray;
    margin: 50px 0;
    display: inline-block;
    float: left;
    background-color: rgb(249,249,249);
    position: relative;
    
}
div.cennik > p {
    font-size: 16px;
    color: rgb(39,199,171);
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}
.price {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    border: 3px solid rgb(196,196,196);
    border-radius: 50%;
    text-align: center;
    background-color: white;
}
.price1 {
    font-size: 24px;
    color: rgb(196,196,196);
    padding-top: 15px;
}
.price2 {
    color: rgb(196,196,196);
    font-weight:600;
}
.buy {
    background-color: rgb(228,228,228);
    text-align: center;
    margin-top: 20px;
    padding: 10px 0 ;
    color: rgb(178,178,178);
}
.service {
    background-color: rgb(241,241,241);
    text-align: center;
    padding: 10px 0 ;
    color: rgb(178,178,178);
}
.warranty {
    padding: 10px 0 ;
    text-align: center;
    background-color: rgb(228,228,228);
    color: rgb(178,178,178);
}
.tips {
    padding: 10px 0 ;
    text-align: center;
    background-color: rgb(241,241,241);
    color: rgb(178,178,178);
}
.button {
    position: absolute;
    height: 40px;
    width: 140px;
    text-align: center;
    font-size: 18px;
    border-color: rgb(39,199,171);
    background-color: rgb(39,199,171);
    color: white;
    margin-left: 95px;
    bottom: 20px;
    border-radius: 15px;
}
.ring {
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 50%;
    position: absolute;
    margin-left: 140px;
    top: -30px;
    background-color: white;
}
.ring2 {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(196,196,196);
    border-radius: 50%;
    position: absolute;
    background-color: rgb(196,196,196);
    margin-left: 155px;
    top: -15px;
}
#middle {
    margin: 50px 50px 0 50px;
}
#kontakt {
    
}
.form {
    padding-top: 30px;
    width: 800px;
    height: 450px;
    float: left;
}
input {
    display: block;
    width: 90%;
    font-size: 24px;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid rgb(39,199,171);
}
textarea {
    width: 90%;
    font-size: 24px;
    padding: 10px;
    border: 1px solid rgb(39,199,171);
}
.check {
    padding-top: 30px;
    width: 290px;
    height: 450px;
    float: left;
}
.redChair {
    width: 300px;
    margin: 0 auto;
}
#bird {
    margin-top: 30px;
    display: inline-block;
    border: 1px solid rgb(39,199,171);
    padding: 2px;
}
#birdP {
    margin-top: 30px;
    display: inline-block;
    color: rgb(178,178,178);
}
#checkboxButton {
    width: 100%;
    background-color: rgb(39,199,171);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    margin: 40px 0 0 0;
}
#copyright {
    float: left;
    color: rgb(178,178,178);
    margin: 60px 0;
}
#sitOnChair {
    float: right;
    color: rgb(158,158,158);
    margin: 60px 0;
    font-size: 18px;
}
.twitter {
    float: right;
    margin: 50px 50px;
}
.cennik:hover {
    background-color: rgb(39,199,171);
    border-color: rgb(39,199,171);
}
.cennik:hover .ring {
    background-color: rgb(39,199,171);
    border-color: rgb(39,199,171);
}
.cennik:hover .ring2 {
    background-color: white;
    border-color: white;
}
.cennik:hover .price {
    border-color: rgb(39,199,171);
}
.cennik:hover .price1 {
    color: rgb(39,199,171);
}
.cennik:hover .price2 {
    color: rgb(39,199,171);
}
.cennik:hover .button {
    color: rgb(39,199,171);
    background-color: white;
}
.cennik:hover > p {
    color: white;
}
.cennik:hover .buy {
    background-color: white;
}
.cennik:hover .warranty {
    background-color: white;
}
